@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #110816;
  color: #fff;

  background-image: radial-gradient(#ffffff22 1px, transparent 0);
  background-size: 100px 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-family: 'Epilogue', sans-serif;
}

div#app {
  background-color: #1f0e27aa;
  border: 1px solid #ffffff22;
  border-radius: 5px;
  padding: 15px;
  width: 512px;
}

div#app span {
  font-size: small;
  font-weight: normal;

  color: #aaa;
}

div#app p {
  margin: 5px;
  margin-left: 0;
}

div#links {
  display: flex;
  align-items: center;
  justify-content: center;
}

div#links a {
  margin: 5px;
}

div#links a svg {
  fill: #fff;
}

div#discord-about,
div#discord-spotify {
  background-color: #422059aa;
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

img {
  border-radius: 5px;

  width: 128px;
  height: 128px;

  object-fit: cover;
}

div#discord-about img {
  border-bottom: 8px solid;
  margin-right: 5px;
}

div#discord-about h1,
div#discord-about p {
  margin: 5px;
  margin-bottom: 0;

  word-break: break-all;
}

div#discord-about p {
  margin-top: 0;
}

div#discord-spotify {
  display: none;
  margin-top: 10px;
}

div#discord-spotify div {
  width: 100%;
}

div#discord-spotify h1,
div#discord-spotify p {
  margin: 5px;
  margin-bottom: 0;

  word-break: break-all;
}

div#discord-spotify p {
  margin-top: 0;
}

span#spotify-bar {
  margin: 5px;
  margin-top: 10px;

  width: calc(100% - 20px);
  height: 5px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#spotify-bar p {
  margin: 0;
  margin-top: 30px;
  color: #fff;
}

@media (max-width: 640px) {
  h1 {
    font-size: larger;
  }

  p {
    font-size: 14px;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  img {
    width: 96px;
    height: 96px;
  }

  div#discord-about img {
    border-bottom: 4px solid;
  }

  span#spotify-bar p:last-child {
    display: none;
  }
}
